%h1 Open Todo
%p.lead A basic to-do list application with an externally usable API. This API allows users to modify user accounts, lists, and to-do items from the command line.
= link_to "GitHub Repo", "http://github.com/CasanovaTapia/open-todo", class: 'btn btn-danger btn-large'
